<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<style>
@font-face {
      font-family:"CreativeBlock BB";
      src:url(/media/CREABBRG.TTF);
   }
   
/*body { font-family:  "CreativeBlock BB", Arial, sans-serif;}*/
</style>

<body>
<p>{{object_list}}</p>
<p>&nbsp;</p>
<p>Hey yeah everything</p>

<p>&nbsp;</p>
<p>
{{sess}}

SWK-1900-0012

 

Hey yeah everything

 

{'using': 'default', 'modified': False, 'accessed': False, '_session_key': 'b1f9e968277d09e02f8dd0dd3426af83'} 



{'_session_cache': {'_auth_user_id': 1L, '_auth_user_backend': 'django.contrib.auth.backends.ModelBackend'}, 'using': 'default', 'modified': False, 'accessed': True, '_session_key': '859b8862598b43bc9414818ba754cf98'} 


{'_session_cache': {'_auth_user_id': 1L, '_auth_user_backend': 'django.contrib.auth.backends.ModelBackend'}, 'using': 'default', 'modified': False, 'accessed': True, '_session_key': '9fe329a5abd922a6603042523ef23e98'}
</p>
</body>
</html>
